body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

/* Style the header */

.header {
    display: block;
    position: fixed;
    background-color: rgb(32, 30, 30);
    overflow-y: hidden;
    width: 100vw;
    height: 50px;
}

h1 {
    color: rgb(145, 137, 137);
    font-size: 1.5em;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}

/* Add a black background color to the top navigation */

.topnav {
    overflow: hidden; 
    display: inline-block;
    float: right;
    margin-right: 20px;
    z-index: 1;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color: rgb(92, 175, 94);
    color: white;
}

main {}

#bienvenue {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 60% 40%;
    grid-template-areas: 'baniere baniere' 'description description';
    padding-top: 50px;
    height: 100vh;
    width: 100wh;
    background-color:moccasin; 
    /* background-repeat: no-repeat; */
    top: 0;
}

img {
    width: 100%;
    position: absolute;
    bottom: -300px;
}

.banniere {
    position: relative;
    align-content: bottom;
    /* border: 2px red solid; */
    grid-area: baniere;
    /* background-image: url("images/fondo.jpg"); */
    overflow: hidden;
}

.description {
    background-color: rgb(32, 30, 30);
    grid-area: description;
    margin-top: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    color: #AAA;

}

.description p {

color: white;

}


#Galerie {
    padding-top: 50px;
    height: 100vh;
    width: 100wh;
}

.flex-container{
    border: solid 3px red;
    display: flex;
    height: 95%;
    width: 90%;
    margin: 0px 5% 0% 5%;
}


#contact {
    padding-top: 50px;
    height: 100vh;
    width: 100vw;
    
}

.item11 {
    grid-area: left;
    margin: 60px 100px 150px ;
}

.item22 {
    grid-area: right;
    margin: 60px 200px 140px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'left left left right right right'
    'left left left right right right'
    'left left left right right right';
  grid-gap:5px;
  padding:30px 10px 0 10px;
  background: url("images/fondo.jpg");
  width:98%;
  height:50%;
}

.grid-container > div {
  background-color: rgba(255, 249, 249, 0.3);
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin-top: 25px;
  border-radius: 8%;
  border:none;
  margin-right: 120px;
}

input [type=text],select {
    border: solid 1px #ccc;
    border-radius: 10px;
    display: inline-flex;
    margin: auto;
    background-color: rgb(255, 253, 253);
    padding: 6px 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 11px 35px;
    margin: 12px 40%;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #156419;
}

textarea {
    font-size: 15px;
}

p {
    color: #000;
    display: inline;
}


footer {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    background-color: rgb(32, 30, 30);
    margin: 0 auto;
    top: bottom;
    height: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    margin: 2px;
}

ul a {
    color: #AAA;
    font-size: 1em;
    line-height: 3em;
}

.icon li {
    display: inline;
    margin: auto 40px auto 40px;
    justify-content: center;
    align-items: center;
}