
body{
    background:url("fondo.jpg");
    background-size: contain no-repeat;
}

input [type=text],select {
    border: solid 1px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    padding: 6px 2%;
    margin:auto;
    background-color: rgb(255, 253, 253);
   
}

button {
    background-color: #4CAF50;
    color: white;
    /* padding: 11px 35px;
    margin: 12px 40%; */
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #156419;
}

.forma {
    border-radius: 16px;
    background: url("fondo.jpg");
    background-size: cover no-repeat;
    opacity: 0.9;
    border: none;
    display: flex;
    flex-direction: row; 
    float: left;
    border: solid 1px red;
    width: 40%;
    margin:3% 0 0 8%;
} 

h1{
    /* text-align: center;
    margin-top: 4.5%;
    margin-bottom: 1px;
} */

/* h2{
    /* text-align: center; */
} */

textarea{
    /* font-size: 20px;
    margin-left: 20%; */
   
}

.forma p{
    /* color:#000;
    display: inline;
    margin-left: 10px; */
}

#mapid { 
height: 680px; 
float: right;
width: 680px;
border-radius: 10px;
}
