
body{
    background:url("fondo.jpg");
    background-size: contain no-repeat;
}

input [type=text],select {
    border: solid 1px #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    padding: 6px 15px;
    margin: 10px 35%;
    background-color: rgb(255, 253, 253);
   
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 11px 35px;
    margin: 12px 40%;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #156419;
}

div {
    border-radius: 16px;
    padding: 20px;
    margin:2% 30% 0px 30%;
    background: url("fondo.jpg");
    background-size: cover no-repeat;
    opacity: 0.9;
    border: none;
    
}

h1{
    text-align: center;
    margin-top: 4.5%;
    margin-bottom: 1px;
}

h2{
    text-align: center;
}

textarea{
    font-size: 20px;
    margin-left: 20%;
   
}

p{
    color:#000;
    display: inline;
    margin-left: 10px;
}